<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   ISO-4217.plist
   aeon-ios

   Created by Mark D. Rufino on 06/11/2018.
   Copyright (c) 2018 Coreproc Inc.. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>012</key>
        <string>DZD</string>
        <key>840</key>
        <string>USD</string>
        <key>978</key>
        <string>EUR</string>
        <key>973</key>
        <string>AOA</string>
        <key>951</key>
        <string>XCD</string>
        <key>951</key>
        <string>XCD</string>
        <key>032</key>
        <string>ARS</string>
        <key>051</key>
        <string>AMD</string>
        <key>533</key>
        <string>AWG</string>
        <key>036</key>
        <string>AUD</string>
        <key>978</key>
        <string>EUR</string>
        <key>944</key>
        <string>AZN</string>
        <key>044</key>
        <string>BSD</string>
        <key>048</key>
        <string>BHD</string>
        <key>050</key>
        <string>BDT</string>
        <key>052</key>
        <string>BBD</string>
        <key>933</key>
        <string>BYN</string>
        <key>974</key>
        <string>BYR</string>
        <key>978</key>
        <string>EUR</string>
        <key>084</key>
        <string>BZD</string>
        <key>952</key>
        <string>XOF</string>
        <key>060</key>
        <string>BMD</string>
        <key>356</key>
        <string>INR</string>
        <key>064</key>
        <string>BTN</string>
        <key>068</key>
        <string>BOB</string>
        <key>984</key>
        <string>BOV</string>
        <key>840</key>
        <string>USD</string>
        <key>977</key>
        <string>BAM</string>
        <key>072</key>
        <string>BWP</string>
        <key>578</key>
        <string>NOK</string>
        <key>986</key>
        <string>BRL</string>
        <key>840</key>
        <string>USD</string>
        <key>096</key>
        <string>BND</string>
        <key>975</key>
        <string>BGN</string>
        <key>952</key>
        <string>XOF</string>
        <key>108</key>
        <string>BIF</string>
        <key>132</key>
        <string>CVE</string>
        <key>116</key>
        <string>KHR</string>
        <key>950</key>
        <string>XAF</string>
        <key>124</key>
        <string>CAD</string>
        <key>136</key>
        <string>KYD</string>
        <key>950</key>
        <string>XAF</string>
        <key>950</key>
        <string>XAF</string>
        <key>152</key>
        <string>CLP</string>
        <key>990</key>
        <string>CLF</string>
        <key>156</key>
        <string>CNY</string>
        <key>036</key>
        <string>AUD</string>
        <key>036</key>
        <string>AUD</string>
        <key>170</key>
        <string>COP</string>
        <key>970</key>
        <string>COU</string>
        <key>174</key>
        <string>KMF</string>
        <key>976</key>
        <string>CDF</string>
        <key>950</key>
        <string>XAF</string>
        <key>554</key>
        <string>NZD</string>
        <key>188</key>
        <string>CRC</string>
        <key>952</key>
        <string>XOF</string>
        <key>191</key>
        <string>HRK</string>
        <key>192</key>
        <string>CUP</string>
        <key>931</key>
        <string>CUC</string>
        <key>532</key>
        <string>ANG</string>
        <key>978</key>
        <string>EUR</string>
        <key>203</key>
        <string>CZK</string>
        <key>208</key>
        <string>DKK</string>
        <key>262</key>
        <string>DJF</string>
        <key>951</key>
        <string>XCD</string>
        <key>214</key>
        <string>DOP</string>
        <key>840</key>
        <string>USD</string>
        <key>818</key>
        <string>EGP</string>
        <key>222</key>
        <string>SVC</string>
        <key>840</key>
        <string>USD</string>
        <key>950</key>
        <string>XAF</string>
        <key>232</key>
        <string>ERN</string>
        <key>978</key>
        <string>EUR</string>
        <key>230</key>
        <string>ETB</string>
        <key>978</key>
        <string>EUR</string>
        <key>238</key>
        <string>FKP</string>
        <key>208</key>
        <string>DKK</string>
        <key>242</key>
        <string>FJD</string>
        <key>978</key>
        <string>EUR</string>
        <key>978</key>
        <string>EUR</string>
        <key>978</key>
        <string>EUR</string>
        <key>953</key>
        <string>XPF</string>
        <key>978</key>
        <string>EUR</string>
        <key>950</key>
        <string>XAF</string>
        <key>270</key>
        <string>GMD</string>
        <key>981</key>
        <string>GEL</string>
        <key>978</key>
        <string>EUR</string>
        <key>936</key>
        <string>GHS</string>
        <key>292</key>
        <string>GIP</string>
        <key>978</key>
        <string>EUR</string>
        <key>208</key>
        <string>DKK</string>
        <key>951</key>
        <string>XCD</string>
        <key>978</key>
        <string>EUR</string>
        <key>840</key>
        <string>USD</string>
        <key>320</key>
        <string>GTQ</string>
        <key>826</key>
        <string>GBP</string>
        <key>324</key>
        <string>GNF</string>
        <key>952</key>
        <string>XOF</string>
        <key>328</key>
        <string>GYD</string>
        <key>332</key>
        <string>HTG</string>
        <key>840</key>
        <string>USD</string>
        <key>036</key>
        <string>AUD</string>
        <key>978</key>
        <string>EUR</string>
        <key>340</key>
        <string>HNL</string>
        <key>344</key>
        <string>HKD</string>
        <key>348</key>
        <string>HUF</string>
        <key>352</key>
        <string>ISK</string>
        <key>356</key>
        <string>INR</string>
        <key>360</key>
        <string>IDR</string>
        <key>960</key>
        <string>XDR</string>
        <key>364</key>
        <string>IRR</string>
        <key>368</key>
        <string>IQD</string>
        <key>978</key>
        <string>EUR</string>
        <key>826</key>
        <string>GBP</string>
        <key>376</key>
        <string>ILS</string>
        <key>978</key>
        <string>EUR</string>
        <key>388</key>
        <string>JMD</string>
        <key>392</key>
        <string>JPY</string>
        <key>826</key>
        <string>GBP</string>
        <key>400</key>
        <string>JOD</string>
        <key>398</key>
        <string>KZT</string>
        <key>404</key>
        <string>KES</string>
        <key>036</key>
        <string>AUD</string>
        <key>408</key>
        <string>KPW</string>
        <key>410</key>
        <string>KRW</string>
        <key>414</key>
        <string>KWD</string>
        <key>417</key>
        <string>KGS</string>
        <key>418</key>
        <string>LAK</string>
        <key>978</key>
        <string>EUR</string>
        <key>422</key>
        <string>LBP</string>
        <key>426</key>
        <string>LSL</string>
        <key>710</key>
        <string>ZAR</string>
        <key>430</key>
        <string>LRD</string>
        <key>434</key>
        <string>LYD</string>
        <key>756</key>
        <string>CHF</string>
        <key>978</key>
        <string>EUR</string>
        <key>978</key>
        <string>EUR</string>
        <key>446</key>
        <string>MOP</string>
        <key>807</key>
        <string>MKD</string>
        <key>969</key>
        <string>MGA</string>
        <key>454</key>
        <string>MWK</string>
        <key>458</key>
        <string>MYR</string>
        <key>462</key>
        <string>MVR</string>
        <key>952</key>
        <string>XOF</string>
        <key>978</key>
        <string>EUR</string>
        <key>840</key>
        <string>USD</string>
        <key>978</key>
        <string>EUR</string>
        <key>478</key>
        <string>MRO</string>
        <key>480</key>
        <string>MUR</string>
        <key>978</key>
        <string>EUR</string>
        <key>965</key>
        <string>XUA</string>
        <key>484</key>
        <string>MXN</string>
        <key>979</key>
        <string>MXV</string>
        <key>840</key>
        <string>USD</string>
        <key>498</key>
        <string>MDL</string>
        <key>978</key>
        <string>EUR</string>
        <key>496</key>
        <string>MNT</string>
        <key>978</key>
        <string>EUR</string>
        <key>951</key>
        <string>XCD</string>
        <key>504</key>
        <string>MAD</string>
        <key>943</key>
        <string>MZN</string>
        <key>104</key>
        <string>MMK</string>
        <key>516</key>
        <string>NAD</string>
        <key>710</key>
        <string>ZAR</string>
        <key>036</key>
        <string>AUD</string>
        <key>524</key>
        <string>NPR</string>
        <key>978</key>
        <string>EUR</string>
        <key>953</key>
        <string>XPF</string>
        <key>554</key>
        <string>NZD</string>
        <key>558</key>
        <string>NIO</string>
        <key>952</key>
        <string>XOF</string>
        <key>566</key>
        <string>NGN</string>
        <key>554</key>
        <string>NZD</string>
        <key>036</key>
        <string>AUD</string>
        <key>840</key>
        <string>USD</string>
        <key>578</key>
        <string>NOK</string>
        <key>512</key>
        <string>OMR</string>
        <key>586</key>
        <string>PKR</string>
        <key>840</key>
        <string>USD</string>
        <key>590</key>
        <string>PAB</string>
        <key>840</key>
        <string>USD</string>
        <key>598</key>
        <string>PGK</string>
        <key>600</key>
        <string>PYG</string>
        <key>604</key>
        <string>PEN</string>
        <key>608</key>
        <string>PHP</string>
        <key>554</key>
        <string>NZD</string>
        <key>985</key>
        <string>PLN</string>
        <key>978</key>
        <string>EUR</string>
        <key>840</key>
        <string>USD</string>
        <key>634</key>
        <string>QAR</string>
        <key>978</key>
        <string>EUR</string>
        <key>946</key>
        <string>RON</string>
        <key>643</key>
        <string>RUB</string>
        <key>646</key>
        <string>RWF</string>
        <key>978</key>
        <string>EUR</string>
        <key>654</key>
        <string>SHP</string>
        <key>951</key>
        <string>XCD</string>
        <key>951</key>
        <string>XCD</string>
        <key>978</key>
        <string>EUR</string>
        <key>978</key>
        <string>EUR</string>
        <key>951</key>
        <string>XCD</string>
        <key>882</key>
        <string>WST</string>
        <key>978</key>
        <string>EUR</string>
        <key>678</key>
        <string>STD</string>
        <key>682</key>
        <string>SAR</string>
        <key>952</key>
        <string>XOF</string>
        <key>941</key>
        <string>RSD</string>
        <key>690</key>
        <string>SCR</string>
        <key>694</key>
        <string>SLL</string>
        <key>702</key>
        <string>SGD</string>
        <key>532</key>
        <string>ANG</string>
        <key>994</key>
        <string>XSU</string>
        <key>978</key>
        <string>EUR</string>
        <key>978</key>
        <string>EUR</string>
        <key>090</key>
        <string>SBD</string>
        <key>706</key>
        <string>SOS</string>
        <key>710</key>
        <string>ZAR</string>
        <key>728</key>
        <string>SSP</string>
        <key>978</key>
        <string>EUR</string>
        <key>144</key>
        <string>LKR</string>
        <key>938</key>
        <string>SDG</string>
        <key>968</key>
        <string>SRD</string>
        <key>578</key>
        <string>NOK</string>
        <key>748</key>
        <string>SZL</string>
        <key>752</key>
        <string>SEK</string>
        <key>756</key>
        <string>CHF</string>
        <key>947</key>
        <string>CHE</string>
        <key>948</key>
        <string>CHW</string>
        <key>760</key>
        <string>SYP</string>
        <key>901</key>
        <string>TWD</string>
        <key>972</key>
        <string>TJS</string>
        <key>834</key>
        <string>TZS</string>
        <key>764</key>
        <string>THB</string>
        <key>840</key>
        <string>USD</string>
        <key>952</key>
        <string>XOF</string>
        <key>554</key>
        <string>NZD</string>
        <key>776</key>
        <string>TOP</string>
        <key>780</key>
        <string>TTD</string>
        <key>788</key>
        <string>TND</string>
        <key>949</key>
        <string>TRY</string>
        <key>934</key>
        <string>TMT</string>
        <key>840</key>
        <string>USD</string>
        <key>036</key>
        <string>AUD</string>
        <key>800</key>
        <string>UGX</string>
        <key>980</key>
        <string>UAH</string>
        <key>784</key>
        <string>AED</string>
        <key>826</key>
        <string>GBP</string>
        <key>840</key>
        <string>USD</string>
        <key>840</key>
        <string>USD</string>
        <key>997</key>
        <string>USN</string>
        <key>858</key>
        <string>UYU</string>
        <key>940</key>
        <string>UYI</string>
        <key>860</key>
        <string>UZS</string>
        <key>548</key>
        <string>VUV</string>
        <key>937</key>
        <string>VEF</string>
        <key>704</key>
        <string>VND</string>
        <key>840</key>
        <string>USD</string>
        <key>840</key>
        <string>USD</string>
        <key>953</key>
        <string>XPF</string>
        <key>504</key>
        <string>MAD</string>
        <key>886</key>
        <string>YER</string>
        <key>967</key>
        <string>ZMW</string>
        <key>932</key>
        <string>ZWL</string>
        <key>955</key>
        <string>XBA</string>
        <key>956</key>
        <string>XBB</string>
        <key>957</key>
        <string>XBC</string>
        <key>958</key>
        <string>XBD</string>
        <key>963</key>
        <string>XTS</string>
        <key>999</key>
        <string>XXX</string>
        <key>959</key>
        <string>XAU</string>
        <key>964</key>
        <string>XPD</string>
        <key>962</key>
        <string>XPT</string>
        <key>961</key>
        <string>XAG</string>
    </dict>
</plist>
